@font-face {
	font-family: 'alicia';
	src: url('/fonts/alicia/alicia-webfont.eot');
	src: url('/fonts/alicia/alicia-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/alicia/alicia-webfont.woff2') format('woff2'),
			 url('/fonts/alicia/alicia-webfont.woff') format('woff'),
			 url('/fonts/alicia/alicia-webfont.ttf') format('truetype'),
			 url('/fonts/alicia/alicia-webfont.svg#elisa') format('svg');
	font-weight: normal;
	font-style: normal;
}

