@font-face {
	font-family: 'elisa';
	src: url('/fonts/elisa/elisa-webfont.eot');
	src: url('/fonts/elisa/elisa-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/elisa/elisa-webfont.woff2') format('woff2'),
			 url('/fonts/elisa/elisa-webfont.woff') format('woff'),
			 url('/fonts/elisa/elisa-webfont.ttf') format('truetype'),
			 url('/fonts/elisa/elisa-webfont.svg#elisa') format('svg');
	font-weight: normal;
	font-style: normal;
}

